<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="shortcut icon"  href="{% static 'NPI_EERF/img/favicon.ico' %}" >
    <title>EERF Management Power</title>
    <link rel="stylesheet" href="{% static 'NPI_EERF/css/amazeui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'NPI_EERF/css/select2.min.css' %}"/>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/ifvisible.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/amazeui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/offline-exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/select2.min.js' %}"></script>
    <script type="text/javascript">
        document.write("<link rel=\"stylesheet\" href=\"{% static 'NPI_EERF/css/style.css?v="+Math.random()+"' %}\">");
        document.write("<script language=\"javascript\" type=\"text/javascript\" src=\"{% static 'NPI_EERF/js/WebData.js?v="+Math.random()+"' %}\"><\/script>");
    </script>
</head>
<body>
<header style="height: 5rem;width: 100%;padding: 0;margin:0;background:linear-gradient(#30cfd0,#04a090);line-height: 5rem;">
    <img id="header_logo" class="am-img-responsive" src="{% static 'NPI_EERF/img/header_logo.png' %}">

    <a id="return_home" href="{% url 'NPI_EERF:index' %}"><i class="am-icon-home am-icon-md"></i></a>
</header>
<div class="am-g doc-am-g" id="container">
    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
        <a href="javascript: void(0)" class="am-menu-toggle">
            <i class="am-menu-toggle-icon am-icon-bars" style="font-size: 3rem;"></i>
        </a>
        <div class="am-offcanvas">
            <div class="am-offcanvas-bar">
                <ul class="am-menu-nav am-avg-sm-1">
                    <li id="user_logo_content">
                        <img id="users_logo" class="am-img-responsive" src="{% static 'NPI_EERF/img/users.png' %}">
                        <p id="user_name" class="am-center">{{ user_cname }} {{ user_authority }}</p>
                    </li>
                    <li class="am-active">
                        <a href="{% url 'NPI_EERF:power' %}" class=""><i class="am-icon-crosshairs am-icon-sm"></i>实时人力状况</a>
                    </li>
                    <li class="">
                        <a href="{% url 'NPI_EERF:historypower' %}" class=""><i
                                class="am-icon-line-chart am-icon-sm"></i>历史趋势</a>
                    </li>
                    <li class="">
                        <a href="{% url 'NPI_EERF:unitspower' %}" class=""><i class="am-icon-user-plus am-icon-sm"></i>编制人力</a>
                    </li>
                    <li class="">
                        <a href="{% url 'NPI_EERF:recruit' %}" class=""><i class="am-icon-edit  am-icon-sm"></i>招募状况</a>
                    </li>
                    <li class="">
                        <a href="{% url 'NPI_EERF:dimission' %}" class=""><i class="am-icon-user-times am-icon-sm"></i>离职状况</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--chart绘图-->
<div class="am-g doc-am-g" id="chart_container">
    <button type="button" id="setting"><i class="am-icon-cog am-icon-sm"></i></button>
    <div id="Frame">
        <div class="am-u-md-12 am-u-lg-12" id="power_column_chart"></div>
        <div class="am-u-md-12 am-u-lg-12" id="chart_dron_down">
        <div id="button_con" class="am-u-md-12 am-u-lg-12">
            <button id="off_chart_container"><img class="am-img-responsive"
                                                  src="{% static 'NPI_EERF/img/offset.png' %}"></button>
        </div>
        <div class="am-u-md-6 am-u-lg-5" id="power_time_manpower_column"></div>
        <div class="am-u-md-6 am-u-lg-6 am-u-sm-offset-1" id="power_time_manpower_pie"></div>
    </div>
    </div>
</div>
<!--模态框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="mysetting">

    <div class="am-modal-dialog" id="mysettings">
        <div class="am-modal-hd">总人力
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">日期</label>
                <div class="am-u-sm-10">
                    <input type="date" class="am-form-field am-round" name="date" id="date" placeholder="输入你的日期">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ta-1" id="ziwei_lab">资位</label>
                <div class="am-u-sm-10 am-radius" id="ziwei_con">
                    <select id="cluster" class="select2" multiple="multiple" style="z-index: 100;width: 100%">
                        <!--<option value="1">师1</option>-->
                        <!--<option value="1">师2</option>-->
                        <!--<option value="1">师3</option>-->
                        <!--<option value="1">师4</option>-->
                        <!--<option value="1">师5</option>-->
                        <!--<option value="5">师6</option>-->
                        <!--<option value="5">师7</option>-->
                        <!--<option value="5">师8</option>-->
                        <!--<option value="5">师9</option>-->
                        <!--<option value="5">师10</option>-->
                        <!--<option value="5">师11</option>-->
                        <!--<option value="5">师12</option>-->
                        <!--<option value="5">师13</option>-->
                        <!--<option value="5">师14</option>-->
                        <!--<option value="5">师15</option>-->
                        <!--<option value="5">师16</option>-->
                    </select>
                    <!-- <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師1" data-am-ucheck checked>师1
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師2" data-am-ucheck checked>师2
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師3" data-am-ucheck checked>师3
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師4" data-am-ucheck checked>师4
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師5" data-am-ucheck checked>师5
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師6" data-am-ucheck checked>师6
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師7" data-am-ucheck checked>师7
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師8" data-am-ucheck checked>师8
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師9" data-am-ucheck checked>师9
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師10" data-am-ucheck checked>师10
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師11" data-am-ucheck checked>师11
                        </label>
                    </div>
                    <div class="am-u-sm-3">
                        <label class="am-checkbox">
                            <input type="checkbox" value="師12" data-am-ucheck checked>师12
                        </label>
                    </div>
                    <div class="am-u-sm-4">
                        <label class="am-checkbox">
                            <input type="checkbox" value="員1" data-am-ucheck checked>员1
                        </label>
                    </div>
                    <div class="am-u-sm-4">
                        <label class="am-checkbox">
                            <input type="checkbox" value="員2" data-am-ucheck checked>员2
                        </label>
                    </div>
                    <div class="am-u-sm-4">
                        <label class="am-checkbox">
                            <input type="checkbox" value="員3" data-am-ucheck checked>员3
                        </label>
                    </div> -->

                </div>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" id="power_confirm">确定</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $("#cluster").select2();
    document.getElementById("date").valueAsDate = new Date();
    var humansList = {{humans_list|safe}};
    var grade_list = {{grade_list|safe}};

    var x_categories = [], seriesMesome = [], seriesTai = [], seriesTechnician = [], seriesSpindrift = [], teamDataList = [];
    for (var i = 0; i < humansList.length; i++) {
        x_categories.push(humansList[i].h_ename);
        seriesMesome.push(humansList[i].h_mesome);
        seriesTai.push(humansList[i].h_taiwan);
        seriesTechnician.push(humansList[i].h_technician);
        seriesSpindrift.push(humansList[i].h_spindrift);
        teamDataList.push(humansList[i].h_team_data);
    }
    draw_chart1(x_categories, seriesMesome, seriesTai, seriesTechnician, seriesSpindrift, teamDataList);
    // console.log('grade_list:',grade_list);
	createSelect(grade_list);
</script>
</html>
