<!--
    作者：Hsiao
    时间：2018-01-31
    描述：EERF Management System_index
-->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="shortcut icon"  href="{% static 'NPI_EERF/img/favicon.ico' %}" >
    <title>EERF Management HistoryPower</title>
    <link rel="stylesheet" href="{% static 'NPI_EERF/css/amazeui.min.css' %}"/>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/ifvisible.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/amazeui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/series-label.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/drilldown.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'NPI_EERF/js/offline-exporting.js' %}"></script>
    <script type="text/javascript">
        document.write("<link rel=\"stylesheet\" href=\"{% static 'NPI_EERF/css/style.css?v="+Math.random()+"' %}\">");
        document.write("<script language=\"javascript\" type=\"text/javascript\" src=\"{% static 'NPI_EERF/js/WebData.js?v="+Math.random()+"' %}\"><\/script>");
    </script>
</head>
<body>
<header style="height: 5rem;width: 100%;padding: 0;margin:0;background:#2a8fbd;line-height: 5rem;">
    <img id="header_logo" class="am-img-responsive" src="{% static 'NPI_EERF/img/header_logo.png' %}">
    <a id="return_home" href="{% url 'NPI_EERF:index' %}"><i class="am-icon-home am-icon-md"></i></a>
</header>
<div class="am-g doc-am-g" id="container">
    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
        <a href="javascript: void(0)" class="am-menu-toggle">
            <i class="am-menu-toggle-icon am-icon-bars" style="font-size: 3rem;"></i>
        </a>
        <div class="am-offcanvas">
            <div class="am-offcanvas-bar">
                <ul class="am-menu-nav am-avg-sm-1">
                    <li id="user_logo_content">
                        <img id="users_logo" class="am-img-responsive" src="{% static 'NPI_EERF/img/users.png' %}">
                        <p id="user_name" class="am-center">{{ user_cname }} {{ user_authority }}</p>
                    </li>
                    <li class="am-active">
                        <a href="{% url 'NPI_EERF:worktime' %}" class=""><i
                                class="am-icon-calendar-plus-o am-icon-sm"></i>考勤加班</a>
                    </li>
                    <li class="">
                        <a href="{% url 'NPI_EERF:overtimework' %}" class=""><i class="am-icon-clock-o am-icon-sm"></i>超时加班</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--chart绘图-->
<div class="am-g doc-am-g" id="chart_container">
    <div class="am-u-md-12 am-u-lg-12" id="chart9"></div>
    <div class="am-u-md-12 am-u-lg-12" id="search_chart_contain">
        <div id="button_con" class="am-u-md-12 am-u-lg-12">
            <button id="off_search_chart_contain"><img class="am-img-responsive"
                                                       src="{% static 'NPI_EERF/img/offset.png' %}"></button>
        </div>
        <div class="am-u-lg-4" id="search_con">
            <div class="am-input-group am-input-group-round">
                        <span class="am-input-group-btn am-round">
                            <button class="am-btn am-btn-primary am-round" type="button"><span
                                    class="am-icon-search am-round"></span></button>
                        </span>
                <input type="text" class="am-form-field am-round">
            </div>
        </div>
        <div class="am-u-md-12 am-u-lg-12" id="chart10"></div>


    </div>
</div>
</body>
</html>
